.content{
    width: 90%;
    margin: 1.4rem auto;  
}
.title{
    text-align: center;
    margin-bottom: 3rem;
}

.title h1{
    font-size: 2rem;
    color: rgb(26, 25, 25);
    font-weight: 500;
}

button{
    margin-bottom: .8rem;
}

.table {
    width: 100%;
}

.livros{
    color: rgb(24, 60, 179);
    margin-left: .6rem;
}

.edit{
    color: rgb(40, 105, 100);
}
.delete{
    color: rgb(202, 4, 4);
}

.mat-header{
    width: 7rem;
}